@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

body {
    background-color: rgb(60, 60, 60);
    color: white;
    overflow: hidden;
    font-family: "DM Mono", monospace;

    user-select: none !important;
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
}

button {
    font-family: "DM Mono", monospace;
    border: none;
}

input {
    font-family: "DM Mono", monospace;
}

textarea {
    font-family: "DM Mono", monospace;
    background-color: rgb(40, 40, 40);
    color: white;
    border: none;
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
}

input:hover {
    opacity: 0.8;
}

*[link]:hover {
    text-decoration: underline;
    color: #89a3da;
}

*[hreflink] {
    color: #7998dc;
}

*[hreflink]:hover {
    text-decoration: underline;
    color: #4174e3;
}

a:hover {
    text-decoration: underline;
    color: #89a3da;
}

code {
    font-family: monospace;
    font-weight: 100;
}