@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

body {
    background-color: rgb(60, 60, 60);
    color: white;
    overflow: hidden;
    font-family: "DM Mono", monospace;

    user-select: none !important;
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
}

button {
    font-family: "DM Mono", monospace;
    border: none;
}

input {
    font-family: "DM Mono", monospace;
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
}

input:hover {
    opacity: 0.8;
}

*[link]:hover {
    text-decoration: underline;
    color: #89a3da;
}

a:hover {
    text-decoration: underline;
    color: #89a3da;
}

division {
    margin-left: 2%;
    margin-right: 2%;
}

division::before {
    content: "-";
}

.FaxesContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 90%;
    height: 90%;
    box-sizing: border-box;
    border-left: 1px solid rgba(255, 255, 255, 0.25);
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    font-size: 5vh;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.FaxButton {
    position: relative;

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 26vh;

    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    background-color: rgb(50, 50, 50);
    overflow: hidden;
    transition: all 0.25s ease;

    flex-grow: 0;
    flex-shrink: 0;
}

.FaxButton:hover {
    background-color: rgb(55, 55, 55);
    cursor: pointer;
}

.FaxButton span {
    text-align: center;
    font-size: 1.4vh;
}

.FaxButton sub {
    margin-left: 1%;
    font-size: 2vh;
}

.FaxButton input {
    text-align: center;
    width: 100%;
    height: 35%;
}

.FaxButton button {
    text-align: center;
    width: 100%;
    height: 25%;
}

.FaxButton h1 {
    margin-left: 3%;
    font-weight: 400;
    font-size: 50%;
    
    transition: font-size 0.25s ease;
}

.FaxButton p {
    visibility: hidden;
    margin-left: 3%;
    font-size: 60%;
}

.StatusBar {
    display: flex;
    flex-direction: row;

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    background-color: rgb(40, 40, 40);

    font-size: 3.5vh;

    align-items: center;
    justify-content: center;
}

.StatusBar span {
    border-radius: 2.5em;
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 1.5vh;
    padding-right: 1.5vh;
}

.Topbar {
    display: flex;
    flex-direction: row;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;

    background-color: rgba(50, 50, 50, 0.5);
    backdrop-filter: blur(2px);

    z-index: 1;

    font-size: 4.5vh;

    align-items: center;
    text-align: center;
    justify-content: center;

    transition: all 0.25s ease;
}

.TopbarIcon {
    left: 1.5%;
    position: absolute;
    cursor: pointer;
    height: 75%;
    transition: all 0.25s ease;
}

.TopbarIcon:hover {
    scale: 1.125;
}

.Topbar * {
    margin-left: 1.5vh;
    margin-right: 1.5vh;
}

.AccountForm {
    display: flex;
    flex-direction: column;

    position: absolute;
    width: 75%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.125);
    border-radius: 3vh;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    text-align: center;
    overflow: hidden;
}

.AccountForm input {
    margin-top: 1vh;
    height: 6vh;
    text-align: center;
    border-radius: 10em;
    border: none;
    font-size: 100%;
}

.AccountForm button {
    margin-top: 1vh;
    height: 6vh;
    text-align: center;
    border-radius: 10em;
    border: none;
    font-size: 100%;
}

#FaxCreateButton input {
    font-size: 2vh;
    background-color: rgb(40, 40, 40);
    color: white;
    border: none;
}

#FaxCreateButton button {
    background-color: rgb(40, 40, 40);
    border: none;
    color: rgba(255, 255, 255, 0.75);
    height: 50%;
}

#UsernameLabel {
    transition: all 0.25s ease;
}

#UsernameLabel:hover {
    opacity: 0.5;
    cursor: pointer;
}

.Profile {
    display: flex;
    flex-direction: column;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 90%;
    height: 100%;
    background-color: rgb(70, 70, 70);
    border-left: 2px solid rgba(255, 255, 255, 0.25);
    border-right: 2px solid rgba(255, 255, 255, 0.25);

    visibility: hidden;

    font-size: 5vh;
}

.Profile * {
    margin-left: 5vh;
    margin-top: 1.25vh;
}

.Profile button {
    width: 42.5vh;
    height: 6vh;
    font-size: 4vh;
    border-radius: 1em;
    background-color: black;
    color: white;

    padding-left: 3vh;
    padding-right: 3vh;

    transition: all 0.25s ease;
}

.Profile button:hover {
    background-color: white;
    color: black;
    opacity: 1;
}

.LikedByContainer {
    display: flex;
    flex-direction: column;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 50%;
    height: 75%;
    background-color: rgba(60, 60, 60, 0.75);
    backdrop-filter: blur(7.5px);

    align-items: center;

    visibility: hidden;
    overflow: hidden;
}

.LikedByContainer div {
    margin-top: 2vh;
    font-size: 2vh;
    text-align: center;
}

.LikedByContainer div:hover {
    color: #89a3da;
    cursor: pointer;
    text-decoration: underline;
}

.LikedByContainer ldiv {
    opacity: 0.5;
}

#LikedByContainerCloseButton {
    position: absolute;
    right: 2.5vh;
    top: 1.25vh;
    font-size: 3vh;
    cursor: pointer;
}

#LikedByContainerCloseButton:hover {
    color: red;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.25);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}