.Topbar {
    display: flex;
    flex-direction: row;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;

    z-index: 3;

    gap: 2vh;

    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    font-size: 4.5vh;

    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;

    transition: all 0.25s ease;
}

.Topbar * {
    align-self: center;
    transition: all 0.25s ease;
}

.Topbar img {
    margin-top: 1vh;
    height: 7.5vh;
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

.Topbar img:hover {
    scale: 1.125;
    cursor: pointer;
}

.Topbar > span {
    font-size: 3vh;
}

.FaxesContainer {
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 90%;
    height: 100%;
    box-sizing: border-box;
    border-left: 1px solid rgba(255, 255, 255, 0.25);
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vh;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.FaxButton {
    position: relative;

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 26vh;

    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    background-color: rgb(50, 50, 50);
    transition: all 0.25s ease;

    flex-grow: 0;
    flex-shrink: 0;

    max-height: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.FaxButton:hover {
    background-color: rgb(55, 55, 55);
    cursor: pointer;
}

.FaxButton sub {
    margin-left: 1%;
    font-size: 1.4vh;
}

.FaxButton input {
    text-align: center;
    width: 100%;
    height: 35%;
}

.FaxButton textarea {
    text-align: center;
    width: 100%;
    height: 35%;
    background-color: white;
    color: black;
}

.FaxButton textarea:hover {
    opacity: 0.8;
}

.FaxButton button {
    text-align: center;
    width: 100%;
    height: 25%;
}

.FaxButton h1 {
    margin-left: 3%;
    font-weight: 400;
    font-size: 50%;
    
    transition: font-size 0.25s ease;
}

.FaxButton p {
    visibility: hidden;
    margin-left: 3%;
    font-size: 2vh;
}

.ReplyContainer {
    width: 100%;
    height: 75vh;
    background-color: rgba(0, 0, 0, 0.25);
    text-align: center;
    visibility: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: -1;
}

.ReplyContainer > button {
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    font-size: 1.75vh;
    height: 30%;
    width: 100%;
}

.ReplyContainer > input {
    font-size: 2vh;
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
    border-top: 2px solid rgba(255, 255, 255, 0.25);
}

.RepliesContainer {
    border-top: 2px solid rgba(255, 255, 255, 0.25);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.RepliesContainer > header {
    text-align: center;
    width: 100%;
    font-size: 2.5vh;
}

.RepliesContainer > div {
    display: flex;
    flex-direction: row;

    border-top: 2px solid rgba(255, 255, 255, 0.25);
    text-align: center;
    align-self: center;
    justify-content: center;
    width: 100%;
    min-height: 3vh;
    font-size: 2vh;

    align-items: center;

    gap: 2vh;
}

.RepliesContainer > div:first-of-type {
    border-bottom: 2px solid rgba(255, 255, 255, 0.25);
}

.StatusBar {
    display: flex;
    flex-direction: row;

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5vh;
    background-color: rgb(40, 40, 40);

    font-size: 3.5vh;
    text-wrap: nowrap;

    overflow-y: hidden;
    overflow-x: auto;

    align-items: center;
    justify-content: center;
}

.StatusBar * {
    display: flex;
    flex-direction: row;
    align-items: center;

    border-radius: 100em;
    font-size: 1.5vh;
    text-wrap: nowrap;
    background-color: rgba(0, 0, 0, 0.5);

    height: 2.5vh;

    padding-left: 0.5vh;
    padding-right: 0.5vh;

    margin-left: 1vh;
    margin-right: 1vh;
}

.StatusBar img {
    height: 2vh;
    background-color: transparent;
}

.StatusBar span {
    background-color: transparent;
}

.RemoveBase {
    background-image: url("../../images/Tape.svg");
    background-size: cover;
    background-repeat: repeat;
    transition: all 0.25s ease;

    background-color: rgba(200, 0, 0, 0.5);
    font-size: 2vh;
    border-radius: 1em;
    padding-left: 2vh;
    padding-right: 2vh;
}

.RemoveBase:hover {
    background-blend-mode: color-burn;
    background-color: rgba(200, 0, 0, 0.75);
}

.EditButton {
    font-size: 2vh;
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 1em;
    padding-left: 2vh;
    padding-right: 2vh;
    transition: background-color 0.25s ease;

    background-image: url("../../images/Tape.svg");
    background-size: cover;
    background-repeat: repeat;
}

.EditButton:hover {
    background-blend-mode: color-burn;
    background-color: rgba(100, 100, 100, 1);
}

.ContentLabel {
    height: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 1vh;

    max-height: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.ContentLabel img, .ContentLabel video, .ContentLabel iframe {
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 1em;
}

#ProfileBioSection {
    width: 50%;
}

#ProfileBioSection * {
    width: 75%;
}

#ProfileBioInput {
    resize: none;
    border-radius: 2em;
    font-size: 2vh;
    text-align: center;
    align-content: center;
}

#FaxSubmitButton {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

#ResultsLabel {
    text-align: center;
}

#FaxCreateButton {
    height: auto;
    min-height: 32vh;
}

#FaxCreateButton textarea {
    font-size: 1.75vh;
    background-color: rgb(40, 40, 40);
    color: white;
    border: none;
}

#FaxCreateButton button, #FaxCreateButton input {
    background-color: rgb(40, 40, 40);
    color: rgba(255, 255, 255, 0.75);
    height: 8vh;
    font-size: 2vh;
}

#ResultsLabel {
    font-size: 2vh;
}

#UsernameLabel {
    transition: all 0.25s ease;
}

#UsernameLabel:hover {
    opacity: 0.5;
    cursor: pointer;
}

#AdminLabel {
    font-family: "Gabarito";
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#AdminLabel:hover {
    opacity: 1;
    background-position-x: left 20px;
}

#AccountButton {
    background-color: white;
    color: black;
    padding-left: 2vh;
    padding-right: 2vh;
    font-size: 2vh;
    border-radius: 1em;
    cursor: pointer;
    transition: all 0.25s ease;
}

#AccountButton:hover {
    background-color: black;
    color: white;
}

.PageButtons {
    background-color: rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;

    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 35%;
}

.PageButtons > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vh;

    font-size: 2vh;

    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;

    border-radius: 1vh;

    background-color: rgba(0, 0, 0, 0.25);
    width: 75%;
    height: 4vh;

    transition: all 0.25s ease;
}

.PageButtons > div:hover {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.Pages > div {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    width: 50%;
    min-height: 25%;
    padding-bottom: 5%;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 3vh;

    left: 68%;
    top: 50%;

    transform: translate(-50%, -50%);

    visibility: hidden;

    text-align: center;
    overflow: hidden;
}

.Pages > div > h1 {
    font-size: 5vh;
}

.Pages > div > input,
.Pages > div > button {
    font-size: 2vh;
    margin-top: 1vh;
    height: 6vh;
    text-align: center;
    border-radius: 10em;
    border: none;
    width: 75%;
}

.Pages > div > div {
    font-size: 3vh;
    text-wrap: nowrap;
    display: flex;
    flex-direction: row;
    width: 75%;
    align-items: center;
}

#AccountForm {
    visibility: visible;
}

.ProfileContainer {
    display: flex;
    flex-direction: row;
    gap: 1vh;
}

.ProfileContainer span {
    font-size: 3vh;
    margin-left: 1vh;
    margin-top: 2.5vh;
    transition: all 0.25s ease;
}

.ProfileContainer span[button] {
    background-color: rgba(0, 0, 0, 0.25);
    font-size: 2vh;
    padding-left: 3vh;
    padding-right: 3vh;
    border-radius: 2em;
    text-align: center;
    align-content: center;
}

.ProfileContainer span[button]:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.FaxButtonProfilePhoto {
    width: 5vh;
    margin-left: 2vh;
    margin-top: 2vh;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    border: 2px solid white;
}

.Profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 100%;
    background-color: rgb(70, 70, 70);
    border: 2px solid rgba(255, 255, 255, 0.25);
    border-left-width: 2px;
    border-right-width: 2px;
    visibility: hidden;
    font-size: 5vh;
}

.Profile * {
    margin: 0.5vh 0 0.75vh;
    transition: 0.25s ease;
}

.Profile input {
    font-family: "DM Mono", monospace;
    font-size: 2vh;
    cursor: pointer;
}

.Profile label, 
.Profile input[type="color"],
.Profile div,
.Profile div section,
.Profile div section span {
    font-size: 2vh;
    text-align: center;
}

.Profile input[type="color"] {
    border: 1px solid white;
    background-color: transparent;
}

.Profile > div > img {
    margin-right: 1vh;
    z-index: 10;
    width: 14vh;
    border: 2px solid white;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

.Profile section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 2vh;

    padding: 1vh 4vh;
    border: 2px dashed rgba(255, 255, 255, 0.1);
    border-radius: 2vh;
}

.Profile > div > section > input {
    width: 100%;
    font-size: 2.5vh;
    text-align: center;
    background-color: rgb(40, 40, 40);
    color: white;
    border: none;
    border-radius: 1em;
}

.Profile > div > section > * {
    width: 100%;
    height: 4vh;
}

.Profile > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Profile button {
    width: auto;
    min-width: 50%;
    height: 6vh;
    padding: 0 3vh;
    font-size: 1.75vh;
    border-radius: 2em;
    background-color: black;
    color: white;
    transition: background-color 0.25s ease;
}

.Profile button:hover {
    background-color: white;
    color: black;
}

.LikedByContainer {
    display: flex;
    flex-direction: column;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 75%;
    height: 75%;
    background-color: rgba(60, 60, 60, 0.75);
    backdrop-filter: blur(7.5px);

    align-items: center;

    visibility: hidden;
    overflow: hidden;
}

.LikedByContainer div {
    margin-top: 2vh;
    font-size: 2vh;
    text-align: center;
}

.LikedByContainer div:hover {
    color: #89a3da;
    cursor: pointer;
    text-decoration: underline;
}

.LikedByContainer ldiv {
    opacity: 0.5;
}

#LikedByContainerCloseButton {
    position: absolute;
    right: 2.5vh;
    top: 1.25vh;
    font-size: 3vh;
    cursor: pointer;
}

#LikedByContainerCloseButton:hover {
    color: red;
}

#LinkHrefLabel {
    position: absolute;
    left: 0;
    bottom: 0;
    padding-left: 1vh;

    background-color: black;

    z-index: 1;
    align-content: center;

    width: 100%;
    height: 3vh;
    font-size: 2vh;

    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#FaxContentInput {
    box-sizing: border-box;
    text-align: center;
    align-content: center;
    min-height: 4vh;
    resize: none;
    background-color: rgb(40, 40, 40);
    color: white;
}

#MessageBox {
    display: flex;
    flex-direction: column;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    border-radius: 1em;

    width: 75%;
    min-height: 50%;
    
    z-index: 1;

    background-color: rgb(0, 0, 0);

    align-content: center;
    justify-content: center;
    text-align: center;

    transition: opacity 0.25s ease;
    opacity: 0;
    visibility: hidden;
}

#MessageBox * {
    margin-top: 1vh;
    align-self: center;
}

#MessageBox header {
    font-size: 3.5em;
}

#MessageBox span {
    font-size: 2vh;
}

#MessageBox button {
    font-size: 1.75em;
    border-radius: 1em;
    width: 75%;
    height: 8vh;
    transition: background-color 0.25s ease;
}

#MessageBox button:not([color]):hover {
    background-color: rgb(60, 60, 60);
    color: white;
}

#MessageBox button[color][accept]:hover {
    background-color: rgb(60, 255, 0);
}

#MessageBox button[color][refuse]:hover {
    background-color: rgb(255, 60, 0);
}

#NotificationCenter {
    display: flex;
    flex-direction: column;
    gap: 1vh;

    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    border-left: 1px solid rgba(255, 255, 255, 0.25);
    border-right: 1px solid rgba(255, 255, 255, 0.25);

    position: absolute;
    width: 90%;
    height: 75%;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);

    overflow-x: hidden;
    overflow-y: auto;

    z-index: 3;
}

#NotificationCenter * {
    transition: all 0.25s ease;
}

#NotificationCenter > div {
    display: flex;
    flex-direction: row;

    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 2vw;

    background-color: rgba(255, 255, 255, 0.125);
    backdrop-filter: blur(4px);

    width: 100%;

    padding-top: 1vh;
    padding-bottom: 1vh;

    font-size: 2.5vh;
}

#NotificationCenter > div:not(.ACU):hover {
    background-color: rgba(255, 255, 255, 0.25);
    cursor: pointer;
}

#NotificationCenter > div > img {
    border-radius: 1em;
    height: 2vw;
}

#NotificationCenter > div > img:hover {
    background-image: url("../../images/Tape.svg");
    background-size: cover;
    background-repeat: repeat;
}

#NotificationCenter > nav {
    position: absolute;
    right: 2.5vh;
    top: 1.5vh;

    font-size: 5vh;

    cursor: pointer;
}

#NotificationCenter > nav:hover {
    color: red;
}