@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

body {
    background-color: rgb(60, 60, 60);
    color: white;
    overflow: hidden;
    font-family: "DM Mono", monospace;

    user-select: none !important;
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
}

button:hover {
    opacity: 0.75;
    cursor: pointer;
}

input:hover {
    opacity: 0.75;
}

division {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

smlb {
    background-color: rgba(255, 255, 255, 0.1);
    padding-left: 1.5vh;
    padding-right: 1.5vh;
    border-radius: 1vh;
}

smlb:hover {
    background-color: rgba(255, 255, 255, 0.35);
}

smlb[disabled="true"] {
    opacity: 0.75;
    pointer-events: none;
}

smlb[disabled="false"] {
    opacity: 1;
    pointer-events: auto;
}

.FaxesContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 90%;
    height: 85%;
    background-color: rgb(80, 80, 80);
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    border-radius: 2vh;
    font-size: 5vh;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.FaxButton {
    position: relative;

    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 95%;
    height: 26vh;
    background-color: rgb(60, 60, 60);
    border-radius: 2vh;
    overflow: hidden;
    transition: all 0.25s ease;

    flex-grow: 0;
    flex-shrink: 0;
}

.FaxButton span {
    text-align: center;
    font-size: 2vh;
}

.FaxButton sub {
    margin-left: 1%;
    font-size: 2vh;
}

.FaxButton input {
    font-family: "DM Mono", monospace;
    text-align: center;
    width: 100%;
    height: 35%;
}

.FaxButton button {
    font-family: "DM Mono", monospace;
    text-align: center;
    width: 100%;
    height: 25%;
}

.FaxButton h1 {
    margin-left: 3%;
    font-weight: 400;
    font-size: 75%;
    
    transition: font-size 0.25s ease;
}

.FaxButton p {
    visibility: hidden;
    margin-left: 3%;
    font-size: 60%;
}

.FaxButton:hover {
    background-color: rgb(70, 70, 70);
    cursor: pointer;
}

.StatusBar {
    display: flex;
    flex-direction: row;

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    background-color: rgb(40, 40, 40);

    font-size: 3.5vh;

    align-items: center;
    justify-content: center;
}

.Topbar {
    display: flex;
    flex-direction: row;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: rgb(40, 40, 40);

    font-size: 4.5vh;

    align-items: center;
    text-align: center;
    justify-content: center;

    transition: all 0.25s ease;
}

.AccountForm {
    display: flex;
    flex-direction: column;

    position: absolute;
    width: 75%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.125);
    border-radius: 3vh;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    text-align: center;
    overflow: hidden;
}

.AccountForm input, button {
    height: 22.5%;
    text-align: center;
    font-family: "DM Mono", monospace;
    border-radius: 0;
    border: none;
    font-size: 100%;
}

.Profile {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);

    width: 90%;
    height: 85%;
    background-color: rgb(80, 80, 80);

    visibility: hidden;

    border-radius: 2.5vh;

    font-size: 5vh;

    align-items: center;
    justify-content: center;
}

#FaxCreateButton {
    order: -9999999999;
}

#FaxCreateButton input {
    font-size: 2vh;
    background-color: rgb(40, 40, 40);
    color: white;
    border: none;
}

#FaxCreateButton button {
    background-color: rgb(40, 40, 40);
    border: none;
    color: rgba(255, 255, 255, 0.75);
    height: 50%;
}

#UsernameLabel {
    transition: all 0.25s ease;
}

#UsernameLabel:hover {
    background: -webkit-linear-gradient(#000000, #eee);
    background: linear-gradient(to top right, #eee, #000000);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

#ProfileUsernameLabel {
    margin-top: 2.5%;
}

#ProfileStateLabel {
    width: 8vh;
}

#ProfileBackButton {
    width: 24vh;
}

.Profile div {
    margin-left: 5%;
}

.Profile button {
    margin-left: 5%;
    width: 17.5%;
    height: 7.5%;
    font-size: 100%;
    border-radius: 1em;
    background-color: black;
    color: white;

    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-bottom: 0.5%;

    transition: all 0.25s ease;
}

.Profile button:hover {
    background-color: white;
    color: black;
    opacity: 1;
}